<!-- left navigation buttons+++++++++++++++++++++++ -->
<div class="tab" style="display: flex;height: 90px;width: 100%;">
    <button class="tablinks" onclick="openCity(event, 'Dashboard')" id="defaultOpen">Dashboard</button>
    <button class="tablinks"
        onclick="openCity(event, 'Manage Products');fetchProducts();populateOrderTable(event);">Manage
        Products</button>
    <button class="tablinks"
        onclick="openCity(event, 'Create Order');fetchProdForOrder(event);populateOrderTable(event);totalBill(event)">Create
        Order</button>
    <button class="tablinks" onclick="openCity(event, 'View Bills');fetchBills();">View
        Bills</button>
    <button class="tablinks" onclick="openCity(event, 'Manage Category');fetchCategory(event);">Manage Category</button>
</div>



<!--++++++++++++++++++++++++++++right side window corresponding to each navigation+++++++++++++++++++ -->


<!-- Dashboard++++++++++++++++++++++++++++++++++++++ -->
<div>
    <div id="Dashboard" class="tabcontent row">

        <div
            style="border: 1px solid #ddd;padding: 12px;font-size: 18px;display: block;height: 60px;margin-bottom: 10px;">
            <h2 style="float: left;font-weight: bold;color: green;">Admin Dashboard</h2>
        </div>
        <div style="display: flex;flex-wrap: wrap;justify-content: center;">
            <div class="column">
                <div class="card">
                    <h1>
                        <%=categ_count %>

                    </h1><br>
                    <h3>Total Category</h3>
                    <!-- <button type="button" class="card_btn">View Categories</button> -->
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1>
                        <%= prod_count%>
                    </h1><br>
                    <h3>Total Product</h3>
                    <!-- <button type="button" class="card_btn">View Products</button> -->
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1>
                        <%= ord_count%>
                    </h1><br>
                    <h3>Total Order</h3>
                    <!-- <button type="button" class="card_btn">View Bills</button> -->
                </div>
            </div>
        </div>



    </div>


    <!-- Manage Product+++++++++++++++++++++++++++++++++++-->
    <div id="Manage Products" class="tabcontent">

        <div
            style="border: 1px solid #ddd;padding: 12px;font-size: 18px;display: block;height: 60px;margin-bottom: 10px;">
            <h2 style="float: left;font-weight: bold;color: green;">Manage Products</h2>
            <button onclick="addProductModal(event)"
                style="float: right;font-weight: bold;width: auto;padding: 10px 18px;background-color: green;color: white; border: none;cursor: pointer;">Add
                Product
            </button>

        </div>
        <input type="text" id="myprodInput" onkeyup="filterProducts()" placeholder="Search by Name.."
            title="Type in a name">
        <%- include('../partials/manage_prod_table.ejs'); %>



    </div>

    <!-- Create Order+++++++++++++++++++++++++++++++++ -->
    <div id="Create Order" class="tabcontent">
        <div
            style="border: 1px solid #ddd;padding: 12px;font-size: 18px;display: block;height: 60px;margin-bottom: 10px;">
            <h2 style="float: left;font-weight: bold;color: green;">Create Order</h2>
            <button onclick="document.getElementById('id06').style.display='block'"
                style="float: right;font-weight: bold;width: auto;padding: 10px 18px;background-color: green;color: white; border: none;cursor: pointer;">Place
                Order
            </button>
        </div>
        <%- include('../partials/create_order_window'); %>
            <input type="text" name="total_bill" id="total_bill" placeholder="Total Bill" value="Total amount: 0"
                disabled>



    </div>

    <!-- View Bills++++++++++++++++++++++++++++++++++ -->
    <div id="View Bills" class="tabcontent">

        <div
            style="border: 1px solid #ddd;padding: 12px;font-size: 18px;display: block;height: 60px;margin-bottom: 10px;">
            <h2 style="float: left;font-weight: bold;color: green;">View Bills</h2>
            <!-- <button onclick="addProductModal(event)"
                style="float: right;font-weight: bold;width: auto;padding: 10px 18px;background-color: green;color: white; border: none;cursor: pointer;">Add
                Product
            </button> -->

        </div>
        <input type="text" id="mybillInput" onkeyup="filterBills()" placeholder="Search by Customer Name.."
            title="Type in a name">
        <%- include('../partials/bills_table.ejs'); %>



    </div>

    <!-- Manage Category++++++++++++++++++++++++++++++ -->
    <div id="Manage Category" class="tabcontent">
        <div
            style="border: 1px solid #ddd;padding: 12px;font-size: 18px;display: block;height: 60px;margin-bottom: 10px;">
            <h2 style="float: left;font-weight: bold;color: green;">Manage Category</h2>

            <button onclick="document.getElementById('id07').style.display='block'"
                style="float: right;font-weight: bold;width: auto;padding: 10px 18px;background-color: green;color: white; border: none;cursor: pointer;">Add
                New Catgory
            </button>
        </div>

        <input type="text" id="mycategInput" onkeyup="filterCategory()" placeholder="Search by Category Name.."
            title="Type in a category">
        <%- include('../partials/manage_categ_table'); %>

    </div>



</div>